.type {
    border-radius: 10px;
    box-shadow: 0px 5px 4px rgba(75, 73, 73, 0.345);
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.type:hover {
    filter: brightness(80%);
}

.type:active {
    filter: blur(1.5px);
}

.unselected {
    filter: brightness(80%);
}

.selected {
    border-radius: 10px;
    box-shadow: 0px 2px 12px 3px var(--color-3);
}

.photo {
    width: 300px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    padding: 10px 15px;
}

.title h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.title p {
    font-size: 1rem!important;
    font-weight: 700;
    color: grey;
    font-size: .8rem;
    padding-bottom: 10px;
    /* no conincide con color en figma */
}

.type,
.photo {
    width: 94vw;
    height: 70vw;
    max-width: 500px;
    max-height: 352px;
}

@media (min-width: 768px) {

    .type,
    .photo {
        width: 45vw;
        height: 32vw;
        /* max-width: 500px;
        max-height: 352px; */
    }

.title h3 {
    margin: 0;
}

.title p {
    padding: 0;
}
}

/* @media (min-width: 414px) and (max-width: 1024px){
    .category-type, .photo-category{
        width: 350px;
    }
} */

@media screen and (min-width: 1024px) {

    .type,
    .photo {
        width: 22.5vw;
        height: 18vw;
        max-width: none;
        max-height: none;
    }

}
