.h2-calendar {
  padding: 22px 10px 16px;
  margin-top: 0;
  font-size: 1.6rem;
  background-color: #ebebee;
  color: #383B58;
}

.calendar-container {
  background-color: #ebebee;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.rmdp-calendar {
  width: 98vw;
  display: inline-block;


}

.rmdp-header {
  font-size: 3.5vw;
  margin-bottom: 10px;
}

.rmdp-week {
  width: 45vw;
  height: 8vw;

}

.rmdp-week-day {
  color: black;

}

.rmdp-day {
  color: rgb(205, 186, 186);


}

.container-2 {
  /* background-color: white; */
  width: 98%;
  /* height: 160px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 40px;

  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12); */
  border-radius: 5px;
  border: none;

  margin-bottom: 4%;
}

.p-calendar {
  width: 88vw;
  font-size: 1rem;
  font-weight: 500;
  color: #4F4F50
}

.button-calendar {
  width: 90vw;
  height: 40px;
  /* margin-top: 40px; */
  color: white;
  
  
  font-size: 1rem;
  font-weight: 700;
  background: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  border: none;
  cursor: pointer;
/*  outline: none;*/
}

.button-calendar:hover {
  background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }

.rmdp-range,
.rmdp-selected,
.highlight-white {
  border-radius: 50%;
  background-color: #1dbeb4;
  color: white;

}

.whole-container-calendar {
  background-color: var(--color-1);
}
.calendar-container-product {
  /* width: 60vw; */
  /* width: 90vw;
  max-width: none;
  height: 336px; */
  border-radius: 5px;
}

.calendar-container-product .react-datepicker__day-name {
  width: 1.7rem;
  line-height: 1.7rem;
  margin: 0.5rem;
}
.calendar-container-product .react-datepicker__day {
  width: 1.7rem;
  line-height: 1.7rem;
  margin: 0.5rem;
  font-weight: 500;
}
.calendar-container-product .react-datepicker__day--disabled{
  font-weight: 900!important;
  text-decoration: line-through;
}


@media (min-width: 768px) {

  .h2-calendar {
    font-size: 1.8rem;
    padding: 2rem;
  }

  .rmdp-header {
    font-size: 3vw;
  }

  .rmdp-week {
    margin-right: 7vw;
    width: 42vw;
    height: 3.5vw;
    margin-left: 0%;
  }

  .container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .p-calendar {
    width: 45%;
  }

  .button-calendar {
    width: 45%;
    height: 40px;
    margin-top: 0;
  }

  .calendar-container-product {
    /* width: 60vw; */
    width: 90vw;
    max-width: none;
    height: 336px;
    border-radius: 5px;
  }

  .calendar-container-product .react-datepicker__month-container {
    width: 50%;
    ;
  }

  .calendar-container-product .react-datepicker__day {
    width: 1.5rem;
    line-height: 1.5rem;
    margin: 0.5rem;
  }

  .calendar-container-product .react-datepicker__day-name {
    width: 1.5rem;
    line-height: 1.5rem;
    margin: 0.5rem;
  }

  .calendar-container-product .react-datepicker__day-names {
    margin-top: 6px;
  }

  .calendar-container-product .react-datepicker__navigation--next {
    right: 8%;
  }

  .calendar-container-product .react-datepicker__navigation--previous {
    left: 8%;
  }

  .container-2 {
    width: 94vw
  }

  /* .container-2 {
  background-color: white;
  width: 98%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 40px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 12%);
  border-radius: 5px;
  border: none;
  margin-bottom: 4%;
} */
}

@media (min-width: 1024px) {
  .rmdp-header {
    font-size: 1.7vw;
  }

  .calendar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }

  .container-1 {
    /* width: 66%; */
    /* width: 66vw; */
    padding-bottom: 4%;
  }

  .rmdp-calendar {
    width: 64vw;

  }

  .rmdp-week {
    margin-left: 20px;
    width: 26vw;
    height: 3vw;
    margin-right: 5vw;

  }

  .container-2 {
    /* width: 33%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 34vw;
    padding: 1.9rem 1.4rem 1rem 1.4rem;



    background-color: white;

    height: 160px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    /* border: none; */
  }

  .p-calendar {
    width: auto;
    max-width: 98%;
    padding-left: 5px;
  }

  .button-calendar {
    width: 100%;
    height: 40px;
    margin-top: 0;
  }

  /* Cambios dani */
  .calendar-container-product {
    /* width: 60vw; */
    width: 57vw;
    height: 283px;
  }

  .calendar-container-product .react-datepicker__navigation {
    position: absolute;
    top: 104px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .calendar-container-product .react-datepicker__navigation-icon::before {
    border-color: white;
  }

  .calendar-container-product .react-datepicker__month-container {
    width: 27vw;
  }

  .calendar-container-product .react-datepicker__day {
    width: 1.3rem;
    line-height: 1.3rem;
    margin: 0.3rem;
  }

  .calendar-container-product .react-datepicker__day-name {
    width: 1.3rem;
    line-height: 1.3rem;
    margin: 0.3rem;
  }

  .calendar-container-product .react-datepicker__navigation--next {
    right: 0;
  }

  .calendar-container-product .react-datepicker__navigation--previous {
    left: 0;
  }
}

@media (min-width: 1174px) {
  .calendar-container-product{
    height: 335px;
  }
  .calendar-container-product .react-datepicker__day {
    width: 1.5rem;
    line-height: 1.5rem;
    margin: 0.4rem;
  }
  .calendar-container-product .react-datepicker__day-name {
    width: 1.5rem;
    line-height: 1.5rem;
    margin: 0.4rem;
  }
  .calendar-container-product .react-datepicker__navigation {
    top: 134px;
  }
}