.css-1apsqam-control{
    border-color: none!important;
}
.css-1apsqam-control:hover{
    border-color: none!important;
}
.css-1v29sww-control{
    background-color: transparent!important;
    border: none!important;
}
.css-1s4vp74-control{
    border: none!important;
}
.css-11ulpqm-control{
    border: none!important;
}
.css-jfxzu1-control{
    border: none!important;
    background-color: transparent!important;
}






