@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

@media screen and (max-width: 414px) {
    #icons {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #icons {
        display: block;
    }
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 10px 25px;
    position: absolute;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 998;
}

.socials{
    font-size: 1.4rem;
    padding-left: 20px;
}

.fa-footer {
    padding-left: 20px;
}

#footer-text {
    font-weight: 700;
    font-size: 0.875rem;
}

